<div class = "container">
  <main class = "mt-5 d-flex align-items-center justify-content-center">
    <h1 class = "col-6">
      <%= @random.word %>
    </h1>
    <button type = "button" class = "col-3 btn btn-outline-secondary mb-1">
      <%= link_to "意味を確認する", study_counts_path(id: @random.id), method: :post %>
    </button>
  </main>
</div>