<div class = "container">
  <main class = "mt-5 d-flex align-items-center justify-content-center">
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-1">
      <%= link_to "学習スタートする", quiz_it_words_path %>
    </button>
  </main>
</div>