<div class = "container mt-5">
  <main class = "mx-auto pt-5">
    <div class = "col">
      <h1>【学習スタートする】</h1>
    </div>

    <!--カテゴリー選択-->
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-1">
      <%= link_to "カテゴリーごちゃまぜ", quiz_it_words_path %>
    </button>
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-1">
      <%= link_to "就活系IT用語", quiz_it_words_path(category: "就活系") %>
    </button>
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-1">
      <%= link_to "プログラミング系IT用語", quiz_it_words_path(category: "プログラミング系") %>
    </button>
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-1">
      <%= link_to "先進技術系IT用語", quiz_it_words_path(category: "先進技術系") %>
    </button>
  </main>
</div>