/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// バック背景色(オレンジ)
body{
  background-color: #FFA500;
  width: 100%;
  height: 100%;
}

// 中央白枠（topページ・ログイン・新規登録画面）
.guidance {
  width: 800px;
  height: 500px;
  padding: 50px;
  margin: 100px;
  background-color: white;
  text-align: center;
}

// レスポンシブ_中央白枠（topページ・ログイン・新規登録画面）/タブレット
@media screen and (max-width:768px){
  .guidance {
    width: 500px;
    height: 500px;
    padding: 25px;
    margin: 50px;
    font-size: 10px;
  }
}

// レスポンシブ_中央白枠（topページ・ログイン・新規登録画面）/スマホ
@media screen and (max-width:425px){
  .guidance {
    width: 300px;
    height: 500px;
    padding: 25px;
    margin: 50px;
    font-size: 10px;
  }
}

li {
   list-style: none;
}

// 中央白枠全て
main{
  height: 400px;
  text-align: center;
}

// top以外の白枠全て
.container{
  background-color: white;
}

//ページネーション自体のデザイン
.pagination {
  border: none;
  color: #696969;
  font-size: 30px;
  letter-spacing: 0.1em;
}

// 表示しているページ番号のデザイン
.pagination>.active {
  background: #93c9ff;
  border-radius: 15px;
}